<div class="flex flex-row gap-6 w-full justify-center items-center">
<form [formGroup]="form" class="w-1/2 p-4">
    <h1 class="text-2xl text-black font-bold pb-6"> {{edit ? 'Editar comida' : 'Añadir nueva Comida'}}</h1>

    <!-- CAMPO DE NOMBRE  -->
    <div class="example-container pb-2">
        <mat-form-field class="w-full" appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="ejem.Pizza" formControlName="name" required>
            @if (name?.invalid && (name?.dirty || name?.touched)) {
            <mat-error>
                @if (name?.hasError('required')) {
                <span class="text-xs">campo es requerido </span>
                }
            </mat-error>
            }
        </mat-form-field>
    </div>
    <!-- CAMPO DE DESCRIPCIÓN  -->
    <div class="example-container pb-2">
        <mat-form-field class="w-full" appearance="outline">
            <mat-label>Descripción</mat-label>
            <textarea matInput placeholder="ejem.Pizza" formControlName="description" required></textarea>
            @if (description?.invalid && (description?.dirty || description?.touched)) {
            <mat-error>
                @if (description?.hasError('required')) {
                <span class="text-xs">campo es requerido </span>
                }
                @if (description?.hasError('minlength')) {
                <span class="text-xs"> Debe contener máximo {{description?.getError('minlength').requiredLength}}
                    caracteres, tienen {{description?.getError('minlength').actualLength}} </span>
                }
            </mat-error>
            }
        </mat-form-field>
    </div>
    <!-- CAMPO DE IMAGEN  -->
    <div class="example-container pb-2">
        <mat-form-field class="w-full" appearance="outline">
            <mat-label>Imagen</mat-label>
            <input matInput placeholder="ejem.Pizza" formControlName="image" required>
            @if (image?.invalid && (image?.dirty || image?.touched)) {
            <mat-error>
                @if (image?.hasError('required')) {
                <span class="text-xs">campo es requerido </span>
                }
            </mat-error>
            }
        </mat-form-field>
    </div>
    <!-- CAMPO DE CATEGORÍA  -->
    <div class="example-container pb-2">
        <mat-form-field class="w-full" appearance="outline">
            <mat-label>Categoría</mat-label>
            <mat-select formControlName="category">
                <mat-option value="food">Comida</mat-option>
                <mat-option value="drink">Bebida</mat-option>
            </mat-select>
            @if (category?.invalid && (category?.dirty || category?.touched)) {
            <mat-error>
                @if (category?.hasError('required')) {
                <span class="text-xs">campo es requerido </span>
                }
            </mat-error>
            }
        </mat-form-field>
    </div>
    <!-- CAMPO DE PRECIO  -->
    <div class="example-container pb-2">
        <mat-form-field class="w-full" appearance="outline">
            <mat-label>Precio</mat-label>
            <input matInput type="number" placeholder="0" formControlName="price" class="right-align" required>
            <span matTextPrefix>$&nbsp;</span>
            <span matTextSuffix>.00</span>
            @if (price?.invalid && (price?.dirty || price?.touched)) {
            <mat-error>
                @if (price?.hasError('required')) {
                <span class="text-xs">campo es requerido </span>
                }
                @if (price?.hasError('min')) {
                    <span class="text-xs">El valor minimo es de {{price?.getError('min').min}}, el valor actual es {{price?.getError('min').actual}}</span>
                }
            </mat-error>
            }
        </mat-form-field>
    </div>
    <button mat-raised-button color="primary" [disabled]="!form.valid" (click)="sendData()">Enviar datos</button>
   
</form>

<h2> Crea tu cuenta</h2>

<form [formGroup]="form" class="max-w-3xl p-4">

    <!-- CAMPO DE EMAIL  -->
    <div class="example-container pb-2">
        <mat-form-field class="w-full" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="ejem.leslie2918jimenez@gmail.com" formControlName="name" required>
            @if (name?.invalid && (name?.dirty || name?.touched)) {
            <mat-error>
                @if (name?.hasError('required')) {
                <span class="text-xs">campo es requerido </span>
                }
            </mat-error>
            }
        </mat-form-field>
    </div>
    <!-- CAMPO DE PASSWORD -->
    <div class="example-container pb-2">
        <mat-form-field class="w-full" appearance="outline">
            <mat-label>Password</mat-label>
            <textarea matInput placeholder="ejem.leslie2918" formControlName="description" required></textarea>
            @if (description?.invalid && (description?.dirty || description?.touched)) {
            <mat-error>
                @if (description?.hasError('required')) {
                <span class="text-xs">campo es requerido </span>
                }
                @if (description?.hasError('minlength')) {
                <span class="text-xs"> Debe contener máximo 8 caracteres {{description?.getError('minlength').requiredLength}}
                    caracteres, tienen {{description?.getError('minlength').actualLength}} </span>
                }
            </mat-error>
            }
        </mat-form-field>
    </div>
    <!-- CAMPO DE TELEFONO  -->
    <div class="example-container pb-2">
        <mat-form-field class="w-full" appearance="outline">
            <mat-label>Telefono</mat-label>
            <input matInput placeholder="ejem.917-102-98-13" formControlName="image" required>
            @if (image?.invalid && (image?.dirty || image?.touched)) {
            <mat-error>
                @if (image?.hasError('required')) {
                <span class="text-xs">campo es requerido </span>
                }
            </mat-error>
            }
        </mat-form-field>
    </div>
    <!-- CAMPO DE SEXO -->
    <div class="example-container pb-2">
        <mat-form-field class="w-full" appearance="outline">
            <mat-label>Sexo</mat-label>
            <mat-select formControlName="category">
                <mat-option value="food">Femenino</mat-option>
                <mat-option value="drink">Masculino</mat-option>
            </mat-select>
            @if (category?.invalid && (category?.dirty || category?.touched)) {
            <mat-error>
                @if (category?.hasError('required')) {
                <span class="text-xs">campo es requerido </span>
                }
            </mat-error>
            }
        </mat-form-field>
    </div>
    
    <button mat-raised-button color="primary" [disabled]="!form.valid" (click)="edit ? updateData() : sendData()">{{edit ? 'Actualizar': 'Añadir'}}</button>
  
</form>
<div class="w-1/2">
    <img class="rounded-lg w-full aspect-auto object-contain" src="{{food?.image}}">
</div>
</div>