@if (food) {
<mat-card class="w-80">
    <img mat-card-image src="{{food.image}}" alt="Photo of a Shiba Inu">
    <mat-card-header>
        <mat-card-title class="!font-medium !text-xl">{{food.name | titlecase }}</mat-card-title>
        <mat-card-subtitle class="!font-medium !text-sm">{{food.price | currency:'MXN'}} - {{food.category}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="!pt-4">
        <p>
            {{food.description}}
        </p>
    </mat-card-content>
    <mat-card-actions class="flex gap-4">
        <a mat-flat-button [routerLink]="['/food/form', food.id]"  color="accent">Actualizar</a>
        <button mat-flat-button  color="warn" (click)="openDialog(food)">Borrar</button>
        <a mat-flat-button [routerLink]="['/food/details-food',food.id]" color="primary"  extended>
            Ver
            <mat-icon>visibility</mat-icon>
        </a>
    </mat-card-actions>
</mat-card>
}